
  <b>Login:</b>
  <%=h @user.email %>
</p>


 
 
<%= link_to 'Edit', edit_account_path %>

<% if facebook_session %>
<a href="/logout_fb_connect" onclick="FB.Connect.logout(function() { reload(); }); return false;" ><img id="fb_logout_image" src="http://static.ak.fbcdn.net/images/fbconnect/logout-buttons/logout_small.gif" alt="Connect"/></a>
<% else %>
<%= link_to 'logout', logout_path, :method => :delete %> 
<% end %>


